import { FC } from 'react';

export interface I{{pascalCase name}} {
  // ~~readonly props here~~
}

const {{pascalCase name}}: FC<I{{pascalCase name}}> = () => (
  <section>
    {/* ~~Component content here - remove classes above as necessary~~ */}
  </section>
);

export default {{pascalCase name}};
